[class*="__markerjs2__0_toolbar_colors"] {
    width: 260px !important;
  
  }
  
  
  
  [class*="__markerjs2__1_toolbar"] {
    width: fit-content !important;
  
  }


    
  [class*="__markerjs2_ __markerjs2__6_"] {
    width: fit-content !important;
  
  }